<div class="sidebar-wrapper">
      <div class="logo">
          <a href="http://www.winnipegbrewbombers.ca" class="simple-text">
              Winnipeg Brewbombers - Administration panel
          </a>
      </div>

      <ul class="nav">
          <li{% if nav_class == "dashboard" %} class="active" {% endif %}>
              <a href="/brewadmin">
                  <i class="ti-panel"></i>
                  <p>Dashboard</p>
              </a>
          </li>
          <li{% if nav_class == "judge" %} class="active" {% endif %}>
              <a href="/judge_admin">
                  <i class="ti-user"></i>
                  <p>Judge Management</p>
              </a>
          </li>
          <li{% if nav_class == "entries" %} class="active" {% endif %}>
              <a href="/entries">
                  <i class="ti-view-list-alt"></i>
                  <p>Homebrew Entries</p>
              </a>
          </li>
  <li class="active-pro">
              <a href="/about">
                  <i class="ti-export"></i>
                  <p>About this site</p>
              </a>
          </li>
      </ul>
</div>
</div>
